{% extends 'car/base.html' %}

{% load static %}

{% block body %}

<h1> Add Latest Model Form </h1>

<form method="POST">
    {% csrf_token %}
    
    <br><label>Product Latest Model Code: </label><br>
    {{ form.prodlatMod_code }}

    <br><label>Car Body Type: </label><br>
    {{ form.carbody }}

    <br><label>Latest Model Name: </label><br>
    {{ form.model_name }}

    <br><label>Fuel Type: </label><br>
    {{ form.fueltype }}

    <br><label>Latest Model Image: </label><br>
    {{ form.latestmodel_image }}

    <br><label>Exterior: </label><br>
    {{ form.Exterior }}

    <br><label>Interior: </label><br>
    {{ form.Interior }}

    <br><label>Price: </label><br>
    {{ form.Price }}

    <button type="submit">Save</button>

</form>

{% endblock body %}